*.tsbuildinfo
.DS_Store
.env
.env*.local
/.next/
/blob-report/
/build
/node_modules
/out/
/playwright-report/
/playwright/.cache/
/prisma/*.db
/prisma/*.db-journal
/prisma/dev.db
/test-results/
next-env.d.ts
playwright-report/
test-results/
